@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/utilities/api";

@import "bootstrap/scss/grid";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/buttons";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

$green: #366f3f;
$green-dark: #224727;
$yellow: #ffff66;

@font-face {
  font-family: "Urania Czech";
  font-style: normal;
  font-weight: normal;
  src:
    local("Urania Czech"),
    url("./Urania_Czech.woff") format("woff");
}

$bg-text-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
$bg-text-shadow-small: 0 2px 5px #00000090;

body {
  color: #000;
  font-family: "Urania Czech", monospace;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }

  @include media-breakpoint-up(md) {
    &.overflow-hidden {
      overflow: visible !important;
    }
  }
}

a {
  cursor: pointer;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.btn {
  transition-duration: 0s;

  &.btn-primary {
    border: 3px dashed #000000;
    border-radius: 0;
    background: #ffffff;
    color: #000000;

    &:hover,
    &:active {
      border-color: #000000;
      background: #eeeeee;
      color: initial;
    }
  }

  &.btn-link {
    color: $green;

    &:hover {
      color: $green-dark;
    }
  }

  &.btn-lg {
    min-width: 160px;
  }
}

nav {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #000000aa;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  user-select: none;

  ul {
    display: flex;
    justify-content: center;
    padding: 0;

    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(-60px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    li {
      display: none;
      min-width: 160px;
      margin: 12px 0;
      animation: fadeIn 0.3s forwards;
      color: #ffffff;
      opacity: 0;
      text-shadow: $bg-text-shadow;

      $delayIncrement: 0.3s;

      @for $i from 1 through 5 {
        @if $i < 3 {
          &:nth-child(#{$i}) {
            animation-delay: $delayIncrement * $i;
          }
        } @else if $i > 3 {
          // skip the 5th child since it's not visible
          &:nth-child(#{$i}) {
            animation-delay: $delayIncrement * ($i - 1);
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    &.open {
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      width: 200vmax;
      height: 200vmax;
      backdrop-filter: blur(8px);

      ul {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        transform: translate(50vw, 45vh);

        li {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    display: block;
    width: 100%;
    height: auto;
    margin: 12px auto;
    background: none;
    transition: none;

    ul {
      li {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        animation: none;
        background: none;
        opacity: 1;

        a:not([href]):not([class]):hover {
          color: $yellow;
        }

        img {
          margin: 0 8px;
        }
      }
    }
  }
}

.hamburger {
  position: fixed;
  z-index: 100;
  right: 0;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin: 1.5rem;
  background: #ffffff;
  box-shadow: 0 2px 10px #00000030;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  @include media-breakpoint-up(md) {
    display: none;
  }

  span {
    position: absolute;
    top: calc(50% - 3px);
    right: 0;
    left: 0;
    width: 21px;
    width: 21;
    height: 2px;
    border-radius: 1px;
    margin: auto;
    background: #000000;
    transition: all 0.3s ease-in-out;

    &:nth-of-type(1) {
      top: calc(50% - 7px);
      width: 21px;
    }

    &:nth-of-type(2) {
      top: calc(50% - 1px);
      width: 21px;
    }

    &:nth-of-type(3) {
      top: calc(50% + 5px);
      width: 21px;
    }
  }
}

#navbar-toggler {
  display: none;

  &:checked + label .hamburger {
    transform: rotate(180deg);

    span {
      &:nth-of-type(1) {
        top: calc(50% - (1px)) !important;
        width: 21px !important;
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        left: -3px !important;
        opacity: 0;
      }

      &:nth-of-type(3) {
        top: calc(50% - (1px)) !important;
        width: 21px !important;
        transform: rotate(-45deg);
      }
    }
  }
}

.banner {
  width: 100%;
  height: 300px;
  padding: 0;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  color: #ffffff;

  h1 {
    position: absolute;
    top: max(35%, 130px);
    width: 100%;
    text-align: center;
    text-shadow: $bg-text-shadow;

    @include media-breakpoint-down(sm) {
      font-size: calc(1.1rem + 1.5vw);
    }
  }
}

.about {
  background-image: url("plant.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  h1 {
    margin-bottom: 2rem;
  }

  p {
    padding: 0 6rem;
    text-align: justify;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
}

.slideshow-item img {
  width: 100%;
  height: 85vh;
  max-height: 650px;
  object-fit: cover;
}

.contact-container {
  padding: 0;
  color: #ffffff;
  text-align: center;
  text-shadow: $bg-text-shadow-small;

  .reservation,
  .opening-hours {
    padding: 3rem 1rem;
  }

  .reservation {
    background: $green;
    font-size: 1.6rem;

    .phone-number {
      text-decoration: underline;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
    }
  }

  .opening-hours {
    background: $green-dark;
    font-size: 1.2rem;

    @include media-breakpoint-down(md) {
      font-size: 1rem;
    }
  }
}

.swiper {
  --swiper-navigation-size: 22px;

  --swiper-theme-color: #000000;
  --swiper-pagination-bullet-inactive-color: #000000;

  .swiper-slide {
    padding: 2rem 3rem;
  }

  @include media-breakpoint-up(md) {
    --swiper-navigation-size: 30px;

    .swiper-button-prev,
    .swiper-button-next {
      padding: 0 2rem;
    }

    .swiper-slide {
      padding: 2rem 6rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .swiper-slide {
      padding: 2rem 8rem;
    }
  }

  &.image-slideshow {
    --swiper-theme-color: #ffffff;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    height: 85vmin;

    min-height: 300px;
    max-height: 650px;
    border-radius: 15px;

    .swiper-slide {
      padding: 0;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide {
    margin: auto;

    iframe {
      width: 100%;
      height: 100%;
      min-height: 270px;
      max-height: 650px;

      @include media-breakpoint-up(md) {
        padding: 0 6rem;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 10rem;
      }
    }
  }

  .blockquote {
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }
  }
}

.footer {
  width: 100%;
  color: #ddd;
  text-align: center;
  user-select: none;

  .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 6px 4px;
    filter: invert(90%);
  }

  &.footer-light {
    height: 100px;
    padding: 30px;
    background: $green;
  }

  &.footer-dark {
    min-height: 180px;
    padding: 55px;
    background: $green-dark;
  }

  img {
    height: 4rem;
  }
}

.loading {
  position: absolute;
  top: 30vh;
  left: 40vw;
  width: 20vw;
}

::-moz-selection {
  background-color: $green-dark;
  color: white;
}

::selection {
  background-color: $green-dark;
  color: white;
}
